<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         stopOnFailure="false"
         verbose="true"
         convertDeprecationsToExceptions="true"
         failOnWarning="true"
         failOnRisky="true"
         printerClass="PHPUnit\TextUI\DefaultResultPrinter">

  <testsuites>
    <testsuite name="Yii2 M2M Behavior Test Suite">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
</phpunit>
